@import "tailwindcss";
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #b73a3a;
    --secondary: #2f5131;

    --background: var(--secondary);
  }
}

@theme static {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --text-secondary-*: initial;
  --color-secondary-600: var(--secondary);
}

button svg {
  height: 25px;
  width: 25px;
}
