@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --loading--text: var(--loading-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --white-000: #e4d0cf;
  --white-100: whitesmoke;
  --old-black-000: #100306;
  --black-000: #180b11;
  --black-100: #1c1118;
  --black-200: #3b3f3f;
  --primary-000: #f50000;
  --primary-100: #720000;
  --accent-000: #284c52;
  --accent-100: #03a7c4;

  --primary-000-rgba: 245, 0, 0;
  --primary-100-rgba: 114, 0, 0;

  font-size: 16px;
}

body {
  background: var(--black-100);
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--white-000);
}

.main {
  max-width: 1200px;
  margin: auto;
}

footer {
  text-align: center;
  color: var(--white-000);
  margin: auto;
  padding: 20px 0;
}

h1,
h2 {
  margin: unset;
}

h1,
.h1 {
  font-family: var(--font-sans);
  font-size: 2em;
  text-transform: uppercase;
  color: var(--primary-000);
}

h2,
.h2 {
  font-family: var(--font-serif);
  font-size: 1.5em;
}

h3,
.h3 {
  font-family: var(--font-sans);
  font-size: 1.5em;
}

@media (min-width: 1119px) {
  .site-title {
    font-size: 8em;
  }

  h1,
  .h1 {
    font-size: 3em;
  }
}

p {
  color: var(--white-000);
}

a {
  color: var(--white-000);
  text-decoration: underline;
}

button.a {
  padding: 0;
  background: unset;
  text-decoration: underline;
  text-align: unset;
}

a:hover,
.a:hover,
button,
a.button {
  color: var(--white-000);
  cursor: pointer;
}

button.a:hover {
  background: unset;
}

button,
a.button {
  font-family: var(--font-sans);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--accent-000);
  border: unset;
  color: var(--white-000);
  padding: 1em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button.primary {
  background-color: var(--primary-100);
}
button.primary:hover {
  background-color: var(--primary-000);
  color: var(--white-000);
}
button.secondary {
  background-color: var(--accent-000);
}
button:hover,
button.secondary:hover {
  background-color: var(--accent-100);
  color: var(--black-100);
}

section {
  margin: 1em 0;
}
/* start CUSTOM CSS */
.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

.border,
.dotted {
  border-radius: 5px;
}

.border,
input {
  border: 2px solid var(--accent-000);
  @apply m-1 p-1;
}

input {
  background: var(--black-000);
  margin: unset;
}

form.dotted {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

hr {
  color: #333;
}

.dotted {
  border: 2px dotted var(--accent-000);
}

.gap-sm {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.sitewide-banner button {
  width: 100%;
  padding: 2em;
  border-radius: 0;
  margin: 0 0 1em;
}

.admin-settings {
  margin: 1em 0;
}

.label,
label {
  text-transform: capitalize;
}

.justify-end {
  justify-content: end;
}

.site-setting-row {
  margin: 0.25em 1.25em;
}

.site-setting-row input {
  width: 100%;
}

.center {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.break {
  overflow-wrap: break-word;
}

.break-word {
  word-break: break-word;
}

.filename-list {
  margin: unset;
  padding: 0 0 0 0.5em;
}

.filename-list li {
  padding: 0.15em;
  border: 1px solid var(--accent-000);
}

.filename-list li button {
  padding: unset;
  margin: unset;
  border-radius: 0;
  max-width: 50%;
}

.filename-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  gap: 0.75em;
}

.filename-grid li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 1em;
}

.filename-grid div {
  display: flex;
  justify-content: center;
}

.filename-grid img {
  width: 100%;
}

.filename-grid svg {
  height: 90%;
  width: 90%;
  margin: auto;
}

@media (min-width: 661px) {
  .filename-list {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  .filename-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .site-setting-row {
    display: flex;
    margin: 0.25em 1.25em;
    justify-content: space-between;
  }

  .site-setting-row input {
    width: 80%;
  }
}
@media (min-width: 1199px) {
  .filename-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .filename-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
}

.gallery-page button {
  width: 100%;
}

.hidden {
  display: none;
}

.mobile {
  width: 100%;
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1199px) {
  .desktop {
    display: none;
  }
}

.subtle-h1 {
  font-family: var(--font-sans);
  font-size: 2em;
  text-transform: uppercase;
  color: var(--primary-000);
  padding: 0.5em;
  text-align: center;
}

.note {
  color: var(--accent-100);
}

.icon {
  height: 3em;
  width: 3em;
}

a .icon {
  transition: transform 0.3s ease-in-out;
}

a .icon:hover {
  transform: scale(1.5);
}

.outline {
  outline: unset;
  background: var(--black-000);
  padding: 1em;
  margin: 1em;

  border-radius: 5px;
  border: 1px solid var(--accent-000);
  box-shadow: 0px 0px 13px var(--accent-000);
  -moz-box-shadow: 0 0 13px var(--accent-000);
  -webkit-box-shadow: 0 0 13px var(--accent-000);
  box-shadow: 0px 0px 13px var(--accent-000);
  filter: progid:DXImageTransform.Microsoft.Glow(Color=var(--accent-000),Strength=13);
  animation: glow-pulse 1s infinite alternate;
}

.header {
  @apply flex flex-col items-center lg:items-end;
  text-align: center;
  gap: 5px;
  font-size: 1em;
}
@media (min-width: 1024px) {
  .smoke-background {
    background-size: cover;
    background-blend-mode: color;
  }
}

.introduction {
  @apply relative overflow-hidden flex max-lg:justify-center min-lg:flex-row w-full;
  background: url("/images/smoke.jpg") 0 45% no-repeat;
  background-size: cover;
  z-index: 0;
}
.introduction img {
  height: 100vh;
  max-width: unset;
  mix-blend-mode: lighten;
  mask-image: radial-gradient(circle at center, black 60%, transparent 80%);
}

.gallery-page .header {
  padding-bottom: 1em;
}

.primary-bg {
  background-color: var(--primary-100);
}

.gallery,
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .gallery,
  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery img,
  .portfolio img {
    width: 100%;
    height: 100%;
  }

  .gallery img {
    object-fit: contain;
  }
  .portfolio img {
    object-fit: cover;
  }
}

.socials {
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0;
}

.col-2-img-right {
  max-width: 1200px;
  margin: auto;
}
.col-2-img-right .col-text {
  padding: 2em;
  margin: auto;
}
.col-2-img-right .col-image {
  overflow: hidden;
  object-fit: cover;
}
.col-image img {
  max-width: unset;
}
@media (max-width: 1185px) {
  .col-2-img-right .col-text {
    width: fit-content;
  }
  .col-2-img-right .col-image {
    display: none;
  }
}
@media (min-width: 1185px) {
  .col-2-img-right .col-text {
    width: fit-content;
    max-width: 50%;
  }
  .col-2-img-right {
    display: flex;
  }
}

.cv {
  background-color: var(--primary-100);
  color: var(--white-000);
  padding: 2em 1.25em;
}

.cv div,
.events div {
  max-width: 600px;
  margin: auto;
}

.cv ul,
.events ul {
  list-style: none;
  padding: unset;
  margin: unset;
  list-style: none;
}

.card {
  color: var(--primary-000);
  background: unset;
  background-color: var(--black-000);
  padding: 0.75em;
  text-align: center;
  border: 1px solid var(--primary-100);
  z-index: 995;
}

.card-title {
  font-size: 1.75em;
  margin: 0.5em;
}

.card-description {
  font-weight: bold;
}

.cv li,
.events li {
  margin: 10px 0;
}

.card-footer {
  color: var(--accent-100);
  font-weight: bold;
  font-size: 1.25em;
}

/* START carousel */
.carousel {
  position: relative;
  margin: 40px 0;
}

.carousel h2 {
  color: var(--primary-100);
  text-align: center;
}

.slide-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slide-images img {
  object-fit: contain;
}

.carousel button {
  background: unset;
}

.slides {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slide,
.slide-shadow {
  margin: auto;
  min-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.carousel .prev,
.carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: var(--white-000);
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  user-select: none;
  z-index: 999;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(2, 103, 120, 0.8);
}

@media (min-width: 769px) {
  .carousel {
    height: max-content;
    margin: 60px 0;
  }

  .carousel .slide {
    position: relative;
  }

  .carousel .slide .card {
    position: absolute;
    width: 80%;
    top: 60%;
    left: 10%;
  }

  .carousel .prev,
  .carousel .next {
    padding: 1.5em;
    top: 50%;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: var(--black-000);
  border-radius: 50%;
  display: inline-block;
  margin: 0 2.5px;
}

.dot.active,
.dot:hover {
  background-color: var(--accent-000);
}
/* END carousel */
/* START ANIMATIONS */
@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 2px 3px rgba(40, 76, 82, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 3px rgba(40, 76, 82, 0.9);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(40, 76, 82, 0.5);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-bottom {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

.slide-left {
  animation: right-to-left 0.75s;
}
.slide-right {
  animation: left-to-right 0.75s;
}
.slide-up {
  animation: slide-bottom 1s;
}
.slide-down {
  animation: slide-top 1s;
}
.fade-up {
  animation: fade 2s, slide-bottom 0.75s;
}
.fade-down {
  animation: fade 2s, slide-top 0.75s;
}

.loader {
  text-align: center;
  padding: 3em;
  margin: 3em 1em;
  font-size: 1em;
  position: relative; /* Needed for positioning the pseudo-element */
}

.loader::after {
  content: ""; /* Start with empty content */
  display: inline-block;
  vertical-align: bottom;
  width: 1em; /* Adjust width as needed for dot spacing */
  animation: loading-dots 1.5s infinite steps(1); /* Animation for dots */
}
@keyframes loading-dots {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "...";
  }
  100% {
    content: "."; /* Reset to empty or continue with dots */
  }
}
/* end ANIMATIONS */
